<!DOCTYPE html>
<html lang="en">
{% include head.html %}

<body>
    <div class="container">
        <div class="logo">
            <center>
                <a href="http://www.reconditewoods.com/"><img src="/images/logo.png" /></a>
            </center>
        </div>
        <div class="horizontalList">
            <ul>
                <li><a href="{{ site.baseurl }}/1/">First</a></li>
                <li><a href="{{ site.baseurl }}/archive/">Archive</a></li>
                {% for post in site.posts limit:1 %}
                <li><a href="{{ post.url }}">Latest</a></li>
                {% endfor %}
            </ul>
        </div>
        <main>
            <div class="arrow" style="padding-right: 50px"><img src="/images/arrow_left.png"/></div>{{ content }}<div class="arrow" style="padding-left: 50px"><img src="/images/arrow_right.png"/></div>
        </main>
        <div class="horizontalList">
            <ul>
                <li><a href="{{ site.baseurl }}/about/">About</a></li>
                <li><a href="https://twitter.com/KhailBallard">Twitter</a></li>
                <li><a href="http://protaspecs.tumblr.com/">Tumblr</a></li>
            </ul>
        </div>
        <footer class="footer">
            <small>
                <center>This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International License</a>.</center>
            </small>
        </footer>
    </div>
</body>

</html>
