<!DOCTYPE html>
<html lang="en">
    {% include head.html %}

    <body onload="init()">
        <div class="container">
            <div class="logo">
                <center>
                    <a href="http://www.reconditewoods.com/"><img src="/images/logo.png" /></a>
                    <div class="update_schedule">MWF update schedule</div>
                </center>
            </div>
            {% for post in site.posts limit:1 %}
            <div id="latestPostNumber" style="display: none">{{ post.title }}</div>
            {% endfor %}
            <div class="horizontalList">
                <ul>
                    <li><a href="{{ site.baseurl }}/1/">First</a></li>
                    <li><a href="{{ site.baseurl }}/archive/">Archive</a></li>
                    {% for post in site.posts limit:1 %}
                    <li><a href="{{ post.url }}">Latest</a></li>
                    {% endfor %}
                </ul>
            </div>
            <!-- Project Wonderful Ad Box Code -->
            <div id="pw_adbox_77005_1_0" class="ads"></div>
            <script type="text/javascript"></script>
            <noscript>
                <map name="admap77005" id="admap77005">
                    <area href="http://www.projectwonderful.com/out_nojs.php?r=0&c=0&id=77005&type=1" shape="rect" coords="0,0,468,60" title="" alt="" target="_blank" />
                </map>
                <table cellpadding="0" cellspacing="0" style="width:468px;border-style:none;background-color:#ffffff;">
                    <tr>
                        <td><img src="http://www.projectwonderful.com/nojs.php?id=77005&type=1" style="width:468px;height:60px;border-style:none;" usemap="#admap77005" alt="" /></td>
                    </tr>
                    <tr>
                        <td style="background-color:#ffffff;" colspan="1">
                            <center><a style="font-size:10px;color:#0000ff;text-decoration:none;line-height:1.2;font-weight:bold;font-family:Tahoma, verdana,arial,helvetica,sans-serif;text-transform: none;letter-spacing:normal;text-shadow:none;white-space:normal;word-spacing:normal;" href="http://www.projectwonderful.com/advertisehere.php?id=77005&type=1" target="_blank">Ads by Project Wonderful!  Your ad here, right now: $0</a></center>
                        </td>
                    </tr>
                </table>
            </noscript>
            <!-- End Project Wonderful Ad Box Code -->
            <main>
                <table style="width: 100%; table-layout: fixed">
                    <tr>
                        <td style="width: 150px; height: auto">
                            <a id="arrow_left" href="#">
                                <img id="arrow_left_image" src="/images/arrow_left.png" width="100" height="100" style="opacity: 0" />
                            </a>
                        </td>
                        <td>
                            {{ content }}
                        </td>
                        <td style="width: 150px; height: auto">
                            <div style="margin-left: 50px">
                                <a id="arrow_right" href="#">
                                    <img id="arrow_right_image" src="/images/arrow_right.png" width="100" height="100" style="opacity: 0" />
                                </a>
                            </div>
                        </td>
                    </tr>
                </table>
            </main>
            <div class="horizontalList">
                <ul>
                    <li><a href="{{ site.baseurl }}/about/">About</a></li>
                    <li><a href="https://twitter.com/KhailBallard">Twitter</a></li>
                    <li><a href="http://protaspecs.tumblr.com/">Tumblr</a></li>
                </ul>
            </div>
            <footer class="footer">
                <small>
                <center>This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International License</a>.</center>
            </small>
            </footer>
        </div>
    </body>
    <!-- Project Wonderful Ad Box Loader -->
    <script type="text/javascript">
    (function() {
        function pw_load() {
            if (arguments.callee.z) return;
            else arguments.callee.z = true;
            var d = document;
            var s = d.createElement('script');
            var x = d.getElementsByTagName('script')[0];
            s.type = 'text/javascript';
            s.async = true;
            s.src = '//www.projectwonderful.com/pwa.js';
            x.parentNode.insertBefore(s, x);
        }
        if (window.attachEvent) {
            window.attachEvent('DOMContentLoaded', pw_load);
            window.attachEvent('onload', pw_load);
        } else {
            window.addEventListener('DOMContentLoaded', pw_load, false);
            window.addEventListener('load', pw_load, false);
        }
    })();
    </script>
    <!-- End Project Wonderful Ad Box Loader -->
    <script>
    (function(i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function() {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date();
        a = s.createElement(o),
            m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-65153100-1', 'auto');
    ga('send', 'pageview');
    </script>

</html>
